<!--Jumbotron for the homepage starts-->
<div class="center jumbotron">
  <h1>Welcome to DeliRecipes App</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a></p>
</div>
<!--Jumbotron for the homepage ends-->
<!--Thumbnail and label starts-->
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">View recipes as guest</h2>
    <h2 class="left">Test 123</h2>
    <p><a href="#" class="btn btn-primary" role="button">Button</a> 
  </div>
<!--Thumbnail ends-->
<!--Thumbnail and label starts-->
  <div class="col-lg-4">
    <h3 class="midrow">View recipes as guest</h3>
    <h2 class="left">Test 123</h2>
    <p><a href="#" class="btn btn-primary" role="button">Button</a> 
  </div>
<!--Thumbnail ends-->
<!--Thumbnail and label starts-->
  <div class="col-lg-4">
    <h3 class="midrow">View recipes as guest</h3>
    <h2 class="left">Test 456</h2>
    <p><a href="#" class="btn btn-primary" role="button">Button</a> 
  </div>
</div>
<!--Thumbnail ends-->